
  
  .hamburger-menu {
    font-size: 1.5rem;
    order: 1; 
  }
  

  .search-bar {
    flex-grow: 1; 
    margin: 0 auto; 
    max-width: 50%; 
    order: 1; 
  }
  
  .search-bar input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.3125rem;
  }
  
  .auth-buttons {
    display: flex;
    justify-content: flex-end;
    order: 4; 
    margin-left: auto; 
  }
  
  .auth-button {
    background-color: #f5c518;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.625rem 0.9375rem;
    cursor: pointer;
    font-weight: bold;
    margin-left: 0.625rem;
  }
  
  .auth-button:hover {
    background-color: #dbac07;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .header-content {
      flex-direction: column;
      max-width: 95%;
    }
  
    .search-bar {
      order: -1;
      margin: 0.5rem 0;
      max-width: 100%;
    }
  
    .logo, .hamburger-menu, .auth-buttons {
      margin: 0;
      order: unset; 
    }
  }
  