
.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
  }
  
  
  .slick-slide img {
    max-width: 100%; 
    max-height: 80%; 
    object-fit: contain; 
    margin: auto; 
  }
  

  .slick-prev, .slick-next {
    color: azure;
    font-size: 50rem; 
    z-index: 1; 
  }
  
  .slick-prev:before, .slick-next:before {
    color: green; 
  }

  
  .slick-prev, .slick-next {
    z-index: 1000;
  }